extends layout

block content
  h1 #{title}: #{bookinstance.imprint}


  p= bookinstance.book.name 
  p= bookinstance.imprint
  p= bookinstance.status
  p= bookinstance.due_back
  p Are you sure you want to delete this instance?
    
  form(method='POST' action='')
      div.form-group
        input#genreid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Delete